body {
    font-family: Lato;
    word-break: break-word !important;
}

.navbar {
    border-radius: 0;
}

/* Add Service Seciotn */
textarea#description {
    resize: none;
}
/* Add Service Seciotn */
